<template>
  <div>
    <section
      class="section"
      style="margin-top:-80px">
      <div
        class="container is-flex"
        style="justify-content: flex-end;">
        <base-button
          class="is-circular"
          style="box-shadow: 0px 0px 300px -30px rgba(128,128,128,0.75); width:64px; height: 64px"
          @click="toggleModal">
          <base-icon
            icon="plus:medium"/>
        </base-button>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <table class="table is-striped is-fullwidth is-narrow table-container">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Codice fiscale</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="member in members"
              :key="member.nationalCode">
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.nationalCode }}</td>
            </tr>
          </tbody>
        </table>
        <base-modal
          :show-modal="isModalAddMemberOpen"
          @close="toggleModal">
          <app-member-collection-form-card
            @confirm="confirm($event)"
            @cancel="cancel"/>
        </base-modal>
      </div>
    </section>
  </div>

</template>

<script>
import AppMemberCollectionFormCard from '@/modules/membro/components/AppMemberCollectionFormCard'

export default {
  components: {
    AppMemberCollectionFormCard
  },
  data () {
    return {
      isModalAddMemberOpen: false
    }
  },
  computed: {
    members () {
      return this.$store.getters['membro/membersList']
    },
    currentRealm () {
      return this.$store.getters['app/currentRealm']
    }
  },
  watch: {
    currentRealm (newValue, oldValue) {
      if (newValue) {
        this.$store.dispatch('membro/getMembers')
      }
    }
  },
  methods: {
    cancel () {
      this.toggleModal()
    },
    toggleModal: function () {
      this.isModalAddMemberOpen = !this.isModalAddMemberOpen
    },
    confirm: function ($event) {
      this.$store.dispatch('membro/createMember', $event.member).then(() => {
        this.toggleModal()
      })
    }
  }
}
</script>

<style scoped lang="scss">
  .hover-show {
    visibility: hidden;
  }
  .wrap-td:hover .hover-show {
    visibility: visible;
  }
  .is-circular {
    border-radius: 50px;
  }
</style>
