<template>
  <div
    class="card">
    <div class="card-content">
      <div class="notification">
        {{$t('MEMBRO.MEMBER_COLLECTION.NOTIFICATION_FOR_DATA_RETRIEVAL')}}
      </div>
      <base-input
        v-model="member.name"
        :label="$t('MEMBRO.MEMBER_COLLECTION.NAME')"
        class="test-create-user-name-input"/>
      <base-input
        v-model="member.email"
        :label="$t('MEMBRO.MEMBER_COLLECTION.EMAIL')"
        class="test-create-user-name-input"/>
      <p
        v-show="!isValidEmail(member.email)"
        class="help is-danger">
        Questa email non è corretta
      </p>
      <base-input
        v-model="member.nationalCode"
        :label="$t('MEMBRO.MEMBER_COLLECTION.NATIONAL_CODE')"
        class="test-create-user-name-input"/>
      <div
        class="is-flex"
        style="justify-content: space-between;">
        <base-button
          class="is-white "
          @click="cancel">
          {{ $t('MEMBRO.MEMBER_COLLECTION.CANCEL') }}
        </base-button>
        <base-button
          :disabled="!isValid()"
          class="is-primary test-create-realm-card-confirm-button"
          @click="confirm($event)">
          {{ $t('MEMBRO.MEMBER_COLLECTION.ADD') }}
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      member: {
        name: '',
        email: '',
        nationalCode: ''
      }
    }
  },
  methods: {
    resetForm () {
      this.member.name = ''
      this.member.email = ''
      this.member.nationalCode = ''
    },
    cancel () {
      this.$emit('cancel')
      // this.resetForm()
    },
    confirm ($event) {
      this.$emit('confirm', {
        member: {
          name: this.member.name,
          email: this.member.email,
          nationalCode: this.member.nationalCode,
        }
      })
      this.resetForm()
    },
    isValid () {
      return this.member.name !== null && this.member.name.length > 0 &&
             this.isValidEmail(this.member.email) &&
             this.member.nationalCode !== null && this.member.nationalCode.length > 0
    },
    isValidEmail (mail) {
      // eslint-disable-next-line
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return this.member.email !== null && this.member.email.length > 0 && re.test(mail)
    }
  }
}
</script>
